$break-small: 560px;
$break-medium: 650px;
$break-large: 1200px;
$break-extralarge: 1400px;

@mixin respond-to($media) {
  @if $media == phone {
    @media only screen and (max-width: $break-small) { @content; }
  }

  @else if $media == tablet {
    @media only screen and (min-width: $break-small) and (max-width: $break-medium) { @content; }
  }
  
  @else if $media == tablet-up {
    @media only screen and (min-width: $break-small) { @content; }
  }
  
  @else if $media == desktop {
    @media only screen and (min-width: $break-medium) and (max-width: $break-large) { @content; }
  }
  
  @else if $media == desktop-up {
    @media only screen and (min-width: $break-medium) { @content; }
  }
  
  @else if $media == HD {
    @media only screen and (min-width: $break-extralarge) { @content; }
  }
}

