@mixin center($direction) {
  @if $direction == x {
    left: 50%;
    transform: translateX(-50%);
  }
  
  @else if $direction == y {
    top: 50%;
    transform: translateY(-50%);
  }
  
  @else if $direction == xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin check {
  border: 1px solid red;
}
