// bower:scss
@import "bower_components/fullpage.js/jquery.fullPage.scss";
// endbower
@import 'base';
@import 'normalize';
@import 'typography';
@import 'navigation';
@import 'intro';
@import 'projects';
@import 'about';
@import 'contact';
@import 'footer';

body {
  background: #55AAFF;
  color: $blackgrey;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $blackgrey;
  color: $white;
  display: none;
}

.button {
  padding: 20px;
  width: 250px;
  margin: 50px auto;
  text-align: center;
  font-size: 1.15em;
  transition: all .25s;
  cursor: pointer;
  background: $blackgrey;
  color: $white;
  border: 2px solid rgba(255,255,255,0);
}

.button:hover {
  border: 2px solid $blackgrey;
  background: none;
  color: $blackgrey;
}

#about, #contact {display: none;}

.close {color:white;}
#bottom-area {
  background: #55AAFF;
}

#loading {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
}

.section {
  min-height: 100%;
}
